@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LogisticApp.ViewModels.OrderViewModel

<form method="post" id="order-creation-form" action="@Url.Action("CreateOrder", "OrderForm")">
    <label>Отправитель</label>
    <div class="address">
        <div>
            <label>Город:</label>
            <input type="text" class="city_input" asp-for="SenderCityName" />
            <span asp-validation-for="SenderCityName"></span>
        </div>
        <div>
            <label>Адрес:</label>
            <input type="text" class="address_input" asp-for="SenderFullInCityAddress" />
            <span asp-validation-for="SenderFullInCityAddress"></span>
        </div>
    </div>
    <label>Получатель</label>
    <div class="address">
        <div>
            <label>Город:</label>
            <input type="text" class="city_input" asp-for="RecipientCityName" />
            <span asp-validation-for="RecipientCityName"></span>
        </div>
        <div>
            <label>Адрес:</label>
            <input type="text" class="address_input" asp-for="RecipientFullInCityAddress" />
            <span asp-validation-for="RecipientFullInCityAddress"></span>
        </div>
    </div>

    <label>Вес груза в килограммах:</label>
    <div>
        <input type="number" step="0.01" asp-for="CargoWeightInKilograms" />
        <span asp-validation-for="CargoWeightInKilograms"></span>
    </div>

    <label>Дата создания заказа:</label>
    <div>
        <input type="datetime-local" asp-for="CreationDtm" />
        <span asp-validation-for="CreationDtm"></span>
    </div>

    <input type="submit" value="Создать" />
</form>

@section Scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js"></script>
}